/* Header START */
.header-top {
	background-color: #ffffff;
	color: #4c0f0fcd;
	padding: 18px 0 0 0;
	font-size: 14px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgb(218, 210, 210);
}
.header-porder{
	border-left: 1px solid rgb(218, 210, 210);
  padding-left: 10px  ;
   padding-right: 0px;
}

.header-main-sm-fb {
    width: 20px;
    height: 20px;
    background-image: url("../../../src/assets/images/facebook.png");
    /* background-color: #ffffff; */
    background-repeat: no-repeat;
    background-size: cover;
	border-radius: 100%;
}
.header-main-sm-tw {
    width: 26px;
    height: 26px;
    background-image: url("../../../src/assets/images/twiter.png");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
	border-radius: 100%;

}
.header-main-sm-ln {
    width: 22px;
    height: 22px;
    background-image: url("../../../src/assets/images/linkedin.png");
    background-color: #ffffff;
    background-repeat: no-repeat;
	background-size: cover;
	border-radius: 100%;

}
.header-main-sm-in {
    width: 24px;
    height: 24px;
    background-image: url("../../../src/assets/images/insta3.jfif");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
	border-radius: 100%;

}
.header-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-right {
	display: flex;
	column-gap: 74px;
	/* margin-left: auto; */
    justify-content:left;
}
.header-info {
	display: flex;
	column-gap: 28px;
	align-items: center;
}
.header-info img {
	margin-right: 16px;
	max-width: 21px;
}
.header-social {
	display: flex;
    justify-content: right;
	align-items: center;
	column-gap: 28px;
 
}
.header-social a {
	transition: opacity 0.35s ease;
}
.header-social a:hover {
	opacity: 0.5;
}

.header-bottom {
	position: absolute;
	z-index: 2;
	top: 80px;
	left: 50%;
	transform: translateX(-50%);
	max-width: 1200px;
	width: 100%;
}
.header-bottom-row {
	display: flex;
	background-color: #ffffff;
	color: #0b0707;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.11);
}
.header-logo {
	background-color: #fff;
	padding: 15px 60px 15px 40px;
	display: flex;
	align-items: center;
	/* clip-path: polygon(0px 0px, 100% 0%, 82.68% 101.20%, 0px 100%); */
}
.header-logo a {
	display: flex;
}
.header-logo h1 {
	font-size:xx-large ;
    text-justify: center;
}
/* .header-logo img {
	max-width: 160px;
} */
.header-nav {
	padding: 10px 60px;
	margin-left: auto;
}
.header-nav ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	column-gap: 50px;
    justify-items: center;
	text-align: center;
	align-items: center;


}
.header-nav ul li a {
	transition: color 0.35s ease;
}

.header-nav ul li a:hover {
	color: #ff4242;
}

.header-bottom.is-fixed {
	position: fixed;
	top: 0;
	transition: 0.35s ease;
}
.header-bottom.is-fixed .header-logo {
	padding: 0 50px 5px 40px;
}
.header-bottom.is-fixed .header-nav {
    padding: 0 60px;
}
.header-bottom.is-fixed .header-logo img {
	max-width: 140px;
}

.go-up {
	position: fixed;
	right: 30px;
	bottom: 30px;
	z-index: 9;
	transition: 0.35s ease;
	transform: translateY(100px);
	opacity: 0.5;
}
.go-up:hover {
	opacity: 1;
}s
.go-up.is-active {
	transform: none;
}
.go-up a {
	background-color: #D62E4C;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.35s ease;
}
.go-up img {
	max-width: 50%;
}
a { color: #0b0707;
	text-decoration: none;
	font-size: large;
  }
